# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Secrets
secrets.json
*.key
*.pem
*.crt
*.env

# Logs
*.log

# Other
*.sqlite3
*.db
